*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.3em;
    color: rgb(0, 153, 255);
    cursor: pointer;
}
.logo span{
    color: black;
}
.navegacion a{
    font-size: 1.2em;
    color: rgb(0, 153, 255);
    text-decoration: none;
    margin-right: 40px;
    font-weight: 600;
    transition: .3s;
}
.navegacion a:hover{
    color: black;
}
.btn-hablar{
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    border: 2px solid rgb(0, 153, 255);
    font-weight: 600;
    transition: .3s;
}
.btn-hablar:hover{
    color: rgb(0, 153, 255);
    background: transparent;
}


